---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import index from "../styles/index.css";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">
      <span class="type">
        <style>
          .type {
            display: inline-block;
            vertical-align: bottom;
          }

          .type > span {
            display: grid;
            overflow: hidden;
            height: 1em;
          }

          .type span span {
            width: 0%;
            max-width: max-content;
            overflow: hidden;
            height: inherit;
            word-break: break-all;
            animation: c 0.5s infinite steps(1), t 3s linear infinite alternate,
              m 18s steps(3) infinite;
          }
          .type span span:before {
            content: " ";
            display: inline-block;
          }

          @keyframes t {
            90%,
            100% {
              width: 100%;
            }
          }

          @keyframes c {
            0%,
            100% {
              box-shadow: 5px 0 0 #0000;
            }
            50% {
              box-shadow: 5px 0 0 rgb(74, 222, 128);
            }
          }

          @keyframes m {
            100% {
              transform: translateY(-300%);
            }
          }
        </style>
        <span>
          <span>Hi, I'm Nico 👋</span>
          <span>I create 🚀</span>
          <span>Let's team up 🤝</span>
        </span>
      </span>
    </div>
    <div class="text-3xl py-3 font-bold">CS @ University of Wisconsin</div>
    <div class="py-2">
      <text class="whitespace-pre-line text-lg">
        Hello, I'm Nico! Welcome to my personal portfolio website! I am a highly motivated
        and ambitious student with a strong passion for technology, particularly in the 
        field of machine learning and object-oriented programming. With a solid foundation
        in these areas, I am eager to pursue challenging positions within the big tech 
        industry. My academic journey and practical experience have equipped me with the
        necessary skills to tackle complex problems and develop innovative solutions. 
        However, what truly sets me apart is my ability to effectively communicate and
        collaborate with diverse teams. I firmly believe in the power of diverse perspectives
        and strive to view things from multiple angles, fostering a holistic approach to
        problem-solving. Through my portfolio, you will discover a showcase of my technical
        prowess, as well as my ability to effectively articulate ideas. 
        
        I invite you to explore my work and witness how I can contribute to the cutting-edge 
        projects and ideas of today!
      </text>
      </text>
    </div>
  </div>

  <div class="mt-18"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Featured Projects</div>
  </div>

  <HorizontalCard
    title="Paper++"
    img="/paperplusplus.png"
    desc="Designed as a solution for MadHacks 2023 to parse handwritten user-provided images (utilizing Google OCR API), execute the handwritten code, and provide output through a beautiful frontend built with React, Bootstrap and Axios."
    url="https://github.com/Paper-Plus-Plus/PaperPlusPlus"
  />
  <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Posts</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.frontmatter.title}
          img={post.frontmatter.heroImage}
          desc={post.frontmatter.description}
          url={post.url}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
