---
const { title, img, desc, url, badge, tags, target = '_blank' } = Astro.props;
---

<div
	class="rounded-lg bg-base-100  transition ease-in-out"
>

<!-- Table -->
<div class="grow w-full">

    <div class="relative">
    <table class="w-full table-fixed bg-slate-100 rounded-lg shadow-lg">
        <colgroup>
        <col class="w-1/4">
        <col class="w-1/4">
        <col class="w-1/4">
        <col class="w-1/4">
        </colgroup>
        <thead>
        <tr>
            <th class="text-center px-4 py-2 pt-6"><img src="/frontend.png" alt="frontend-image" class="w-20 h-20 mx-auto">Front End</th>
            <th class="text-center px-4 py-2"><img src="/backend.png" alt="frontend-image" class="w-20 h-20 mx-auto">Back End</th>
            <th class="text-center px-4 py-2"><img src="/ml.png" alt="frontend-image" class="w-20 h-20 mx-auto">ML</th>
            <th class="text-center px-4 py-2"><img src="/devops.png" alt="frontend-image" class="w-20 h-20 mx-auto">Dev Ops</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center px-4 py-2">Astro</td>
            <td class="text-center px-4 py-2">Java</td>
            <td class="text-center px-4 py-2">Python</td>
            <td class="text-center px-4 py-2">Debian/Ubuntu</td>
        </tr>
        <tr>
            <td class="text-center px-4 py-2">CSS/Tailwind CSS</td>
            <td class="text-center px-4 py-2">C#</td>
            <td class="text-center px-4 py-2">PyTorch</td>
            <td class="text-center px-4 py-2">GitHub Pages</td>
        </tr>
        <tr>
            <td class="text-center px-4 py-2"></td>
            <td class="text-center px-4 py-2">SQL(MySQL/PG)</td>
            <td class="text-center px-4 py-2">Scikit-learn</td>
            <td class="text-center px-4 py-2">Docker</td>
        </tr>
        <tr>
            <td class="text-center px-4 py-2"></td>
            <td class="text-center px-4 py-2"></td>
            <td class="text-center px-4 py-2">pandas/NumPy</td>
            <td class="text-center px-4 py-2">Unit Testing</td>
        </tr>
        <tr>
            <td class="text-center px-4 py-2"></td>
            <td class="text-center px-4 py-2"></td>
            <td class="text-center px-4 py-2"></td>
            <td class="text-center px-4 py-2"></td>
        </tr>
        </tbody>
        </table>
    </div>
 
</div>